/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Agdasima:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Classes */
.font-afacad {
  font-family: 'Afacad Flux', sans-serif;
}

.font-agdasima {
  font-family: 'Agdasima', sans-serif;
}

.font-josefin {
  font-family: 'Josefin Sans', sans-serif;
}

.font-source-code {
  font-family: 'Source Code Pro', monospace;
}

/* Dark theme styles */
html[data-theme='dark'] {
  --bg-color: #1a1a1a;
  --text-color: #F5F5F5;
  background-color: var(--bg-color);
}

/* Light theme styles */
html[data-theme='light'] {
  --bg-color: #F5F5F5;
  --text-color: #1e293b; /* Updated text color */
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
/* Add this to your global CSS file */
#default-carousel {
  overflow: hidden;
}

.transition-transform {
  transition: transform 0.5s ease; /* Smooth transition */
}
